.glass {
  border: 2vw solid #FFFFFF;
  border-radius: 80%;
  height: 35vw;
  padding-bottom: 100%;
  width: 100%;
}
.nose {
  height: 35vw;
  text-align: center;
  vertical-align: middle;
  color: #FFFFFF;
  padding: 0px;
  margin: 0px;

}
.arch {
  width: 100%;
  height: 100%;
}
.hair {
  height: 45vw;
}
.smile {
  margin-top: 13vw;
  height: 9vw;
}
